@charset "UTF-8";
@media (max-width: 400px) {
  .desktopbuttons {
    display: none;
  }
  body, #slider, .wrap, .slide-content{
    height: 200px;
  }
}
body {
  width: 100%;
  background-color: grey;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  background-color: #202020;
}

a, a:visited {
  color: grey;
  text-decoration: none;
}

/* .icons håller ikonerna och paddingen centrerar dem vertikalt */
.icons {
  padding-top: 20px;
}
.icons .headericon {
  width: 35px;
  height: 35px;
  color: grey;
  float: right;
  padding-right: 20px;
  cursor: pointer;
}
.icons .menu {
  color: white;
  width: 35px;
  height: 35px;
  padding-left: 20px;
  float: left;
  cursor: pointer;
}

.login {
  position: fixed;
  top: 75px;
  width: 100%;
  height: 170px;
  background-color: #202020;
}

/* stylar även kommande inputfält som email */
input[type=text], [type=password], [type=email] {
  width: 90%;
  height: 28px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.loginbutton {
  border: 1px solid #303030;
  background-color: orange;
  color: #303030;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.registerbutton {
  border: 1px solid #303030;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.searchfield {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 75px;
  background-color: #202020;
}

.header-nav {
  position: fixed;
  top: 75px;
  width: 100%;
  text-align: left;
  padding: 20px 0 20px 10px;
  background-color: #202020;
  color: grey;
}

#utbildningar-click, #studenttjänster-click, #vägledning-click, #kontakt-click {
  cursor: pointer;
}

#utbildningar-dropdown, #studenttjänster-dropdown, #vägledning-dropdown, #kontakt-dropdown {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px 0 10px 15px;
}

@media (min-width: 800px) {
  #menu {
    display: none;
  }

  .desktopbuttons {
    height: 50px;
    width: 60%;
    float: left;
    margin-top: 12.5px;
  }

  .desktopbuttons li {
    display: inline;
    color: grey;
    padding-right: 30px;
    float: left;
    cursor: pointer;
  }

  .desktoputbildningar {
    width: 400px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: #202020;
    color: grey;
    left: 0;
    right: auto;
  }

  .desktoputbildningar p {
    text-align: left;
    padding-left: 40px;
  }

  a:hover {
    color: white;
  }

  .searchfield {
    width: 400px;
    height: 50px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: #202020;
    left: auto;
    right: 0;
  }

  .logout {
    width: 400px;
    height: 50px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: #202020;
    left: auto;
    right: 0;
  }

  .login {
    width: 400px;
    height: 170px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: #202020;
    left: auto;
    right: 0;
  }
}

body, #slider, .wrap, .slide-content{
  margin-top:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 500px;
  overflow-x: hidden;

}

.wrap{
  position: relative;
  margin-top: 75px;

}

.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1{background-image: url('bilder/bild1.jpg')}
.slide2{background-image: url('bilder/bild2.jpg')}
.slide3{background-image: url('bilder/bild3.jpg')}

.slide-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span{
  font-size: 5rem;
  color: white;

}

.arrow{
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0.25;
  transition: opacity 0.4s linear;
}

#arrow-left{
  border-width: 30px 40px 30px 0;
  border-color: transparent white transparent transparent;
  left: 0;
  margin-left: 30px;
  opacity: 0.4;

}

#arrow-right{
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent white;
  right: 0;
  margin-right: 30px;
  opacity: 0.4;


}

#arrow-left:hover{
  opacity:1;
}

#arrow-right:hover{
  opacity:1;
}
/*# sourceMappingURL=style.css.map */
