@charset "UTF-8";
@import "scss/aktuellt";
@import "scss/bildspel";

@media (max-width: 799px) {
  .desktopbuttons, .desktoputbildningar, .desktopvagledning, .desktopkontakt, .desktopstudent {
    display: none;
  }
}
/*MOBIL*/
@media (max-width: 400px) {
  .desktopbuttons {
    display: none;
  }


  body, #slider, .wrap, .slide-content{
    height: 200px;
  }
  .footer{
    margin-top: 15px;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    left: 0;
    right: 0;
    text-align: center;

    /*använder denna för att länkarna inte ska bli formaterade*/
    .linkFooter{
      color: white;
    }
    /*flexar content*/
    .item1{}
    .item2{}
    .item3{}
    .item4{}
  }
  .footerIcons{
    font-size: 40px;
  }
}

input[type=text], [type=password], [type=email] {
  width: 90%;
  height: 28px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.wrapper-main{
  width: 90%;
  margin: 0 auto;

}



body {
  width: 100%;
  background-color: grey;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  background-color: #202020;
  z-index: 10;
}

hr {
  width: 40%;
  border-color: grey;
}



a, a:visited {
  color: grey;
  text-decoration: none;
}

.icons {
  padding-top: 20px;
}
.icons .headericon {
  width: 35px;
  height: 35px;
  color: grey;
  float: right;
  padding-right: 20px;
  cursor: pointer;
}
.icons .menu {
  color: white;
  width: 35px;
  height: 35px;
  padding-left: 20px;
  float: left;
  cursor: pointer;
}

.login {
  position: fixed;
  top: 75px;
  width: 100%;
  height: 170px;
  background-color: #400c0c;
}





.loginbutton {
  border: 1px solid #303030;
  background-color: orange;
  color: #303030;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.registerbutton {
  border: 1px solid #303030;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.searchfield {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 75px;
  background-color: #400c0c;
}

.header-nav {
  position: fixed;
  top: 75px;
  width: 100%;
  height: auto;
  text-align: center;
  -padding: 20px 0 20px 10px; // left
  padding: 20px 0 20px 0; // center
  background-color: #400c0c;
  color: grey;
  line-height: 25px;
}

#utbildningar-click, #studenttjänster-click, #vägledning-click, #kontakt-click {
  cursor: pointer;
}

#utbildningar-dropdown, #studenttjänster-dropdown, #vägledning-dropdown, #kontakt-dropdown {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px 0 10px 15px;
}

@include desktop{
  overflow: hidden;
  padding: 10px 0 10px 15px; // left
  padding: 10px 0 10px 0; //center
  a:active{
    color: white;
  }

}

.buttonshelper{

  width: -webkit-calc(90% + 11px);
  margin: 0 auto;
  .loginbutton{
    float: left;
  }
  .registerbutton{
    float: left;
    margin-left: 10px;
  }
}

.mobmenu1{
  height: 35px;
  border-top: 1px solid #404040;
}

.mobmenu2{

  margin-top: 15px;
  height: 35px;
  border-top: 1px solid #404040;
}

.mobmenu3{

  margin-top: 15px;
  padding-bottom: 15px;
  height: 35px;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
}



/*DESKTOP*/
@media (min-width: 800px) {
  #menu {
    display: none;
  }
  header-nav{
    display: none;
  }
  .desktopbuttons {
      height: 50px;
      width: 60%;
      float: left;
      margin-top: 12.5px;
  }

  .desktopbuttons li {
      display: inline;
      color: grey;
      padding-right: 30px;
      float: left;
      cursor: pointer;
  }

  .desktoputbildningar {
    p{
      text-align: left;
      padding-left: 40px;
      cursor: pointer;

    }
    width: 350px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: #202020;
    color: grey;
    left: 0;
    right: auto;
  }


  .desktopstudent{

    p{
      text-align: left;
      padding-left: 40px;
      cursor: pointer;


    }
    width: 300px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: #202020;
    color: grey;
    left: 115px;
    right: auto;

  }

  .desktopvagledning{
    p{
      text-align: left;
      padding-left: 40px;
      cursor: pointer;

    }
    width: 300px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: #202020;
    color: grey;
    left: 255px;
    right: auto;

  }

  .desktopkontakt{

    text-align: left;
    padding-left: 40px;
    cursor: pointer;
    p{

    }
    width: 300px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: #202020;
    color: grey;
    left: 363px;
    right: auto;

  }

  a:hover {
    color: white;
  }

  .searchfield {
    width: 400px;
    height: 50px;
    position: fixed;
    top: 75px;
    z-index: 10;
    // background-color: #202020;
    background-color: #400c0c;
    padding-top: 8.5px;
    left: auto;
    right: 0;
  }

  .logout {
    width: 400px;
    height: 50px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: #202020;
    left: auto;
    right: 0;
  }

  .login {
    width: 400px;
    height: 170px;
    position: fixed;
    top: 75px;
    z-index: 10;
    // background-color: #202020;
    background-color: #400c0c;
    padding-top: 8.5px;
    left: auto;
    right: 0;
  }

  .buttonshelper{

    width: -webkit-calc(90% + 11px);
    margin: 0 auto;
    .loginbutton{
      float: left;
    }
    .registerbutton{
      float: left;
      margin-left: 10px;
    }
  }
}
  .footer {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    left: 0;
    right: 0;
    text-align: center;


    /*använder denna för att länkarna inte ska bli formaterade*/
    .linkFooter{
      color: white;
    }
    /*campus mölndal ikon*/
    .item1{
      margin-top: 50px;
      margin-left: 125px;
      margin-bottom: 50px;

    }
    /*kontakt*/
    .item2{
      margin-top: 50px;
      margin-left: 125px;
      margin-bottom: 50px;
    }
    /*Sociala medier*/
    .item3{
      margin-top: 50px;
      margin-left: 125px;
      margin-bottom: 50px;
      margin-right: 125px;
    }

  }
  /*storleken på SM ikonerna*/
  .footerIcons{
    font-size: 50px;
  }

