@charset "UTF-8";
@import "scss/aktuellt";
@import "scss/bildspel";
@import "scss/itInfo";
@import "scss/javainfo";
@import "scss/apply";


$header: #1E4363;
$dropdown:#1E4363;
$textheader:lighten(#1E4363, 70%);
$bg:lighten(#1E4363, 20%);
$text:white;
$btn:#FFB00D;
p{
  font-size: 20px;
  font-family: $fontText;
}
h1,h2,h3,h4,h4,h6{  font-family: $fontHeading;}


@media (max-width: 799px) {
  .desktopbuttons, .desktoputbildningar, .desktopvagledning, .desktopkontakt, .desktopstudent {
    display: none;
  }
}
/*MOBIL*/
@media (max-width: 400px) {
  .desktopbuttons {
    display: none;
  }
  body, #slider, .wrap, .slide-content{
    height: 200px;
  }
  .fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  @-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
  }
  @keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
  }

  .footer{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 25px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $header;
    color: $textheader;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;

    /*använder denna för att länkarna inte ska bli formaterade*/
    .linkFooter{
      color: white;
    }
    /*flexar content*/
    .item1{
      padding-left: 40px;
    }
    .item2{}
    .item3{}
    .item4{}
  }
  .footerIcons{
    font-size: 40px;
  }
}
.field{
  width: 90%;
  height: 28px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
input[type=text], [type=password], [type=email] {
  width: 90%;
  height: 28px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  box-sizing: unset;
}

.wrapper-main{
  width: 90%;
  margin: 0 auto;

}
#homeicon{
  color: $textheader;
}
body {
  width: 100%;
  background-color: $bg;
  color:$text;
  margin: 0 auto;
  text-align: center;
  font-family:$fontText;

}
header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  background-color: $header;
  z-index: 10;
}

hr {
  width: 40%;
  border-color: grey!important;
}
a, a:visited {
  color: $textheader;
  text-decoration: none;
}

.icons {
  padding-top: 20px;
}
.icons .headericon {
  width: 35px;
  height: 35px;
  color: $textheader;
  float: right;
  padding-right: 20px;
  cursor: pointer;
}

.icons .headericon2{
  width: 35px;
  height: 35px;
  float: right;
  padding-right: 20px;
  cursor: pointer;

}
.icons .menu {
  color: $btn;
  width: 35px;
  height: 35px;
  padding-left: 20px;
  float: left;
  cursor: pointer;
}

.login {
  position: fixed;
  top: 75px;
  width: 100%;
  height: 170px;
  background-color: $header;
}
.loginbutton {
  border: 1px solid #303030;
  background-color: $btn;
  color: $textheader;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.registerbutton {
  border: 1px solid #303030;
  background-color: black;
  color: $btn;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.searchfield {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 75px;
  background-color: $header;
}

.header-nav {
  position: fixed;
  top: 75px;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 0 20px 0; // center
  background-color: $header;
  color: $textheader;
  line-height: 25px;
}

#utbildningar-click, #studenttjänster-click, #vägledning-click, #kontakt-click {
  cursor: pointer;
}

#utbildningar-dropdown, #studenttjänster-dropdown, #vägledning-dropdown, #kontakt-dropdown {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px 0 10px 0;
 @media screen and (min-width: 800px){
    overflow: hidden;
    padding: 10px 0 10px 0; //center
    a:active {
      color: white;
    }
  }
}
.buttonshelper{

  width: -webkit-calc(90% + 11px);
  margin: 0 auto;
  .loginbutton{
    float: left;
  }
  .registerbutton{
    float: left;
    margin-left: 10px;
  }
}

.mobmenu1{
  height: 35px;
  border-top: 1px solid $header;
}

.mobmenu2{

  margin-top: 15px;
  height: 35px;
  border-top: 1px solid $header;
}

.mobmenu3{

  margin-top: 15px;
  padding-bottom: 15px;
  height: 35px;
  border-top: 1px solid $header;
  border-bottom: 1px solid $header;
}



/*DESKTOP*/
@media (min-width: 800px) {
  header{
    z-index: 10;
  }
  #menu {
    display: none;
  }
  header-nav{
    display: none;
  }
  .desktopbuttons {
      height: 50px;
      width: 60%;
      float: left;
      margin-top: 12.5px;
  }

  .desktopbuttons li {
      display: inline;
      color: $textheader;
      padding-right: 30px;
      float: left;
      cursor: pointer;
  }

  .desktoputbildningar {
    p{
      text-align: left;
      padding-left: 40px;
      cursor: pointer;

    }
    width: 350px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: $dropdown;
    color: $textheader;
    left: 0;
    right: auto;
  }


  .desktopstudent{

    p{
      text-align: left;
      padding-left: 40px;
      cursor: pointer;


    }
    width: 300px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: $dropdown;
    color: $textheader;
    left: 115px;
    right: auto;

  }

  .desktopvagledning{
    p{
      text-align: left;
      padding-left: 40px;
      cursor: pointer;

    }
    width: 300px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: $header;
    color: $textheader;
    left: 255px;
    right: auto;

  }

  .desktopkontakt{

    text-align: left;
    padding-left: 40px;
    cursor: pointer;
    p{

    }
    width: 300px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: $header;
    color: $textheader;
    left: 363px;
    right: auto;

  }

  a:hover {
    color: $btn;
  }

  .searchfield {
    width: 400px;
    height: 50px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: $header;
    padding-top: 8.5px;
    left: auto;
    right: 0;
  }

  .logout {
    width: 400px;
    height: 50px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: $dropdown;
    left: auto;
    right: 0;
  }
  .login {
    width: 400px;
    height: 170px;
    position: fixed;
    top: 75px;
    z-index: 10;
    background-color: $header;
    padding-top: 8.5px;
    left: auto;
    right: 0;
  }

  .buttonshelper{

    width: -webkit-calc(90% + 11px);
    margin: 0 auto;
    .loginbutton{
      float: left;
    }
    .registerbutton{
      float: left;
      margin-left: 10px;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    background-color: $header;
    color: $textheader;
    left: 0;
    right: 0;
    text-align: center;

    /*använder denna för att länkarna inte ska bli formaterade*/
    .linkFooter {
      color: $textheader;
    }
    iframe {
      margin-right: 100px;
    }
    /* campus mölndal ikon*/
    .item1 {
      margin-top: 50px;
      margin-left: 125px;
      margin-bottom: 50px;

    }
    /*kontakt*/
    .item2 {
      margin-top: 50px;
      margin-left: 125px;
      margin-bottom: 50px;
    }
    /*Sociala medier*/
    .item3 {
      margin-top: 50px;
      margin-left: 125px;
      margin-bottom: 50px;
      margin-right: 125px;
    }

  }
  /*storleken på SM ikonerna*/
  .footerIcons {
    font-size: 50px;
  }
  .fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  @-webkit-keyframes fade {
    from{opacity: .4}
  to{opacity: 1}
  }
  @keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
  }

}
.contentStart{
  display: grid;
  grid-template-columns: auto;
  @include desktop{
    margin-left: 200px;
    margin-right: 200px;
  }
.sItem1 {
  h1 {
    font-size: 50px;
    padding: 10px;
    color: $text;
    font-family: $fontHeading;
  }
}
  .sItem2{
    h2 {
      font-size: 40px;
      padding: 10px;
      color: $text;
      font-family: $fontHeading;
    }
    h4{
      font-size: 25px;
      color: $text;
      font-family: $fontHeading;
    }
    p{
     font-size: 20px;
    }
  }
}